*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.primarysec{
    width: 100%;
    float: left;
}
.container-full{
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.row{
    position: relative;
    width: 100%;
}
.row [class^="column-"]
{
    float: left;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
[class^="column-"]
{
    width: 100%;
}
.column-100{
    width: 100%;
}
.column-80{
    width: 80%;
}
.column-60{
    width: 60%;
}
.column-50{
    width: 50%;
}
.column-40{
    width: 40%;
}
.column-25{
    width: 25%;
}
.column-20{
    width: 20%;
}
.column-33{
    width: 33.3%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
} 


 /* header style */
header{
    background-image: url(../image/banner.jpg);
    background-position: center;
    background-size: cover;
}
header .logo h2{
    font-size: 60px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 400;
    transition:all 0.7s ease-in;
}
header .logo:hover h2{
    transform: scale(1.2);
    transition: all 0.8s ease-in;
    color: #ab825e;
}
 header .nav ul{
    display: flex;
    justify-content: center;
    height: 68.8px;
    align-items: center;
}
header .nav ul li:hover{
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}
header .nav ul a{
    font-size: 12px;
    color: white;
    transition:all 0.7s ease-in;

}
header .cnt{
    padding: 275px 0px;
}
header .nav ul li {
  margin: 0px 15px;
}
header .button a{
    display: flex;
    justify-content: center;
    border: 1px solid ;
    color: #ffffff;
    border-color: #ffffff;
    padding: 10px 20px;
    font-size: 12px;
}
header .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 68.8px;
}
header .button a:hover{
    background-color: #ab825e;
    color: #ffffff;
}
header .cnt h1{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
header .cnt h2{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
header .cnt h3{
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}


/* first section style */

.meat {
    background-color: black;
    padding: 120px 0px;
}
.meat .cnt p{
    color: #ffffff;
    text-align: justify;
    margin-right: 135px;
    line-height: 30px;
}
.meat .cnt img{
    position: absolute;
    left: 90px;
}
.meat .cnt{
    margin: 145px -81px;
    display: flex;
    align-items: center
}
.meat .img img{
    display: block;
    width: 100%; 
    height: auto;
    
}
.meat .img{
    position: relative;
    display: inline-block;
}
.meat .img::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #ab825e;
}
.meat .img::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}
.meat .img::after{
    bottom: -12px;
    right: -12px;
    border-left: none;
    border-top: none;
}
.meat .img::before{
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 200px; 
    height: 200px; 
    border: 2px solid #ab825e; 
    border-right: none;
    border-bottom: none;
}

/* spcial offers style */

.offers{
    padding: 40px 0px;
    background-color: black;
}
.offers .cnt{
    display: flex;
    justify-content: center;
}
.offers .cnt h3{
    font-size: 35px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration:1px solid underline #ab825e;
    text-underline-offset: 30px;
    color: #ffffff;
}
.offers .cnt h4{
    font-size: 35px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: 1px solid underline #ab825e ;
    text-underline-offset: 30px;
    color: #ffffff;
}
.offers .cnt img{
    width: 30px;
    padding: 40px 10px;
}

/* food section style */

.food{
    background-color: black;
    padding: 20px 0px;
}
.food .cnt2 img{
    width: 100%;
    height: 470px;
    display: block;
}
.food .cnt h3{
    color: #ffffff;
    font-size: 40px;
}
.food .cnt h3:hover{
    color: #ab825e;
    transition: 0.3s;
}
.food .cnt h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
.food .cnt  img{
    width: 30px;
    padding-top: 25px;
}
.food .cnt p{
    color: #ab825e;
   padding-top: 50px;
   padding-right: 50px;
   font-size: 20px;
   font-family: sans-serif;
   line-height: 30px;
}
.food .cnt .line span{
    color: #ab825e;
    margin-left: 10px;
    padding-top: 10px; 
}
.food .cnt .line{
    display: flex;
    align-items: center;
}
.food .line2 div {   
    border-bottom: 3px solid #ab825e ;
    max-width: 100%;
}

/* second food section style */


.food .cnt1 h3{
    color: #ffffff;
    font-size: 40px;
}
.food .cnt1 h3:hover{
    color: #ab825e;
    transition: 0.3s;
}
.food .cnt1  img{
    width: 30px;
    padding-top: 25px;
}
.food .cnt1 p{
    color: #ab825e;
   padding-top: 50px;
   padding-right: 50px;
   font-size: 19px;
   font-family: sans-serif;
   line-height: 30px;
}
.food .cnt1 .line span{
    color: #ab825e;
    margin-left: 10px;
    padding-top: 10px; 
}
.food .cnt1 .line{
    display: flex;
    align-items: center;
}
.food .cnt1{
    padding: 0px 60px;
}
.food .line2 div {   
    border-bottom: 3px solid #ab825e ;
    max-width: 100%;
}

/* 4 food section style */

.food .cnt h6{
    font-size: 19px;
    font-weight: 700;
    color: #ab825e;
    padding: 20px 0px;
}

.food .cnt h5{
    font-size: 19px;
    font-weight: 400; 
    color: #ab825e;
    padding: 64px 0px;
}

/* 5 food section style  */

.food5{
    background-color: black;
    padding: 90px 0px;
}
.food5 .cnt h3{
    color: #ffffff;
    font-size: 40px;
}
.food5 .cnt h3:hover{
    color: #ab825e;
    transition: 0.3s;
}
.food5 .cnt  img{
    width: 30px;
    padding-top: 25px;
}
.food5 .cnt .line span{
    color: #ab825e;
    margin-left: 10px; 
    margin-top: 10px;
}
.food5 .cnt .line{
    display: flex;
    align-items: center;
}
.food5 .cnt p{
    color: #ab825e;
   padding-top: 50px;
   padding-right: 50px;
   font-size: 20px;
   font-family: sans-serif;
   line-height: 30px;
}
.food5 .cnt1 img{
    display: block;
    width: 100%; 
    height: auto;
    
}
.food5 .cnt1{
    position: relative;
    display: inline-block;
}
.food5 .cnt1::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid #ab825e;
}
.food5 .cnt1::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}
.food5 .cnt1::after{
    bottom: -12px;
    right: -12px;
    border-left: none;
    border-top: none;
}
.food5 .cnt1::before{
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 300px; 
    height: 300px; 
    border: 2px solid #ab825e; 
    border-right: none;
    border-bottom: none;
}
.food5 .button a{
    border: 1px solid ;
    color: #ab825e;
    border-color: #ab825e;
    padding: 14px 25px;
    font-size: 15px;
}
.food5 .button{
    padding-top: 60px;
}
.food5 .button a:hover{
    background-color: #ab825e;
    color: #ffffff;
}

/* resturent style  */
.restnt {
    background-color: black;
    padding: 50px 0px;
}
.restnt .image1 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.restnt .image1 .img{
    overflow: hidden;
    height: 450px;
}
.restnt .image1 .img:hover img{
    transform: scale(1.2);
    transition: all 0.6s ease-in;
    cursor:crosshair;
}

.restnt .image1 .img img{
    transition:all 0.7s ease-in;
}

.restnt .image2 .img{
    overflow: hidden;
    height: 450px;
}
.restnt .image2 .img:hover img{
    transform: scale(1.2);
    transition: all 0.6s ease-in;
    cursor: pointer;
}

.restnt .image2 .img img{
    transition:all 0.7s ease-in;
}
.restnt .image1{
    margin: 10px;
}
.restnt .image2{
    margin: 10px;
}


.restnt .image1 h5{
    color: #ab825e;
    font-size: 25px;
    margin-bottom: 50px;
}
.restnt .image2 h5{
    color: #ab825e;
    font-size: 25px;
    margin-bottom: 50px;
}

/* Subscribe style */

.Subscribe{
    padding: 50px 0px;
    background-color: black;
}
.Subscribe .cnt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Subscribe .cnt h6{
    color: #ffffff;
    font-size: 31px;
    text-transform: uppercase;
    margin-right: 70px;
}
.Subscribe .cnt a{
    border: 1px solid ;
    color: #ab825e;
    border-color: #ab825e;
    padding: 14px 25px;
    font-size: 15px;
}
.Subscribe .cnt a:hover{
    background-color: #ab825e;
    color: #ffffff;
}
.Subscribe .line div{
    border-bottom: 1px solid rgb(82, 82, 82);
    width: 118%;
    margin-left: -115px;
    margin-top: 70px
} 


/* FINAL SECTION style */

.city{
    background-color: black;
    padding: 60px 0px;
}
.city .skull{
    text-align: center;
    border-right: 0.5px solid #606060;
    border-left: 0.5px solid #595959;
}
.city .skull:hover img{
    transform: scale(1.2);
    transition: all 0.8s ease-in;
    color: #ffffff;

}
.city .skull img{
    width: 50px;
    transition:all 0.7s ease-in;
}
.city .skull h6{
    color:#ab825e;
    margin: 10px 0;
}
.city .skull .line2{
    border-bottom:3px solid #595959;
    width: 20%;
    margin: -8px 168px;
}
.city .skull .line2:hover{
    color: #ffffff;
}

  /* footer style */

footer{
    padding: 30px 0;
    background-color: #131212;
}
footer .logo ul li a img{
    margin: 0px 10px;
    display: flex;
}
footer .logo ul{
   display: flex;
   justify-content: flex-start;
}
footer .nav ul{
    display: flex;
    justify-content: center;
    height: 32px;
    align-items: center;
}
footer .nav ul a{
    font-size: 12px;
    color: white;
}
footer .nav ul li {
  margin: 0px 15px;
}
footer .cnt{
    display: flex;
    justify-content: end;
    align-items: center;
}
footer .cnt h6{
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    height: 32px;
}
footer .cnt p{
    color: #ffffff;
    font-size: 10px;
    margin: 4px;
}
